<!DOCTYPE html>
<html>
        <head>
           <title>  new Project</title>
            <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
           <link rel="stylesheet"  href="css/style.css" />
      </head>         
  <nav class="navbar">
  <div id="trapezoid">
    <a class="sub-home" href="#">Home</a>

    <a href="/" class="home">Home</a>
        <div class="vl"></div>

      <a href="/weather" class="expandHome">Weather</a>
  </div>
</nav>
      </body>
</html>